.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: calc(100vh - 60px);
  background-color: white;
  color: #5B6B79;
  padding: 20px;
  transition: width 0.3s;
  margin-top: 60px;
  left: 0;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 25px;
  padding: 1px;
  border-radius: 1px;
  outline: none;
  background-color: transparent;
  border: none;
  color: #5B6B79;
  margin-left: 0;
}

.sidebar-toggle:focus {
  outline: none;
  box-shadow: none;
}

.sidebar.open .sidebar-toggle {
  transform: none;
  align-items: flex-end;
}

.sidebar.closed .sidebar-toggle {
  margin-left: auto;
  margin-right: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.nav {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 100px); 
  margin-bottom: 25px;
}

.nav::-webkit-scrollbar {
  width: 6px;
}

.nav-link {
  color: #5B6B79;
  text-decoration: none;
  display: flex;
  align-items: center; 
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar.closed {
  width: 60px;
}

.sidebar.closed .nav-link span,
.sidebar.closed .submenu,
.sidebar.closed .arrow {
  display: none;
}

.icon {
  margin-right: 10px;
}

.sidebar.closed .icon {
  margin-right: 0;
}

.sidebar.closed .nav-link {
  display: flex;
  justify-content: center;
}

.nav-link:hover {
  background-color: #FFEDED;
  color: #F14E4E;
  height: 30px;
  padding: 5px;
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.submenu {
  margin-left: 20px;
  /* display: none; */
  position: relative;
  z-index: 10;
}

.submenu.open {
  display: block;
}

.sub {
  padding-left: 10px;
}

.profile-section {
  /* position: fixed; */
  display: flex;
  align-items: center;
  cursor: pointer;
  bottom: 10px;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  justify-content: flex-start;
  width: 250px;  /* Tambahkan ini agar lebarnya sesuai dengan sidebar */
  padding: 10px 15px; 
  position: absolute;
  bottom: 0; 
}

.profile-text {
  margin-left: 10px;
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.sidebar.closed .profile-text {
  opacity: 0;
  transform: translateX(-20px);
  pointer-events: none;
}

.profile-section span {
  color: #485159;
  font-weight: bold;
}

.profile-section.closed {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 60px;
  padding: 10px 0;
}

.sidebar.closed .profile-section .profile-text {
  display: none !important;
}

.profile-section .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 2px solid #ddd;
}
